<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>

	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Rewrite to index.html">
					<match url="^(?!index.html)" />
					<action type="Rewrite" url="/index.html" />
					<conditions>
						<add input="{REQUEST_URI}" pattern="^/pages/" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/css/" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/js/" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/images/" negate="true" />
					</conditions>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

</configuration>